In [12]:
#agrupamentos e agregações

import pandas as pd

In [17]:
caminho = '/content/mtcars.csv'
carros = pd.read_csv(caminho)
carros.head(2)

      Unnamed: 0   mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0      Mazda RX4  21.0    6  160.0  110   3.9  2.620  16.46   0   1     4     4
1  Mazda RX4 Wag  21.0    6  160.0  110   3.9  2.875  17.02   0   1     4     4

In [18]:
#nomes das colunas (atual) = Unnamed: 0	mpg	cyl	disp	hp	drat	wt	qsec	vs	am	gear	carb

#renomeando...

carros.columns = ['nomes','mpg','cyl','disp','hpt','drat','wt','qsec','vs','am', 'gear', 'carb']
carros.head(3)

           nomes   mpg  cyl   disp  hpt  drat     wt   qsec  vs  am  gear  carb
0      Mazda RX4  21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1  Mazda RX4 Wag  21.0    6  160.0  110  3.90  2.875  17.02   0   1     4     4
2     Datsun 710  22.8    4  108.0   93  3.85  2.320  18.61   1   1     4     1

In [19]:
#agrupando dados por uma coluna
#agrupando carros por cilindro

coluna_agrupamento = carros['cyl']
grupos_carros = carros.groupby(coluna_agrupamento)
grupos_carros.mean()

           mpg        disp         hpt  ...        am      gear      carb
cyl                                     ...
4    26.663636  105.136364   82.636364  ...  0.727273  4.090909  1.545455
6    19.742857  183.314286  122.285714  ...  0.428571  3.857143  3.428571
8    15.100000  353.100000  209.214286  ...  0.142857  3.285714  3.500000

[3 rows x 10 columns]